::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: violet;
}

a:link {
  font-family: Verdana, Verdana, san-serif;
  font-size: 16px;
  background-color: transparent;
  text-decoration: none;
  color: grey;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: gold;
}

a:visited {
  background-color: transparent;
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: gold;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: yellow;
}

a:active {
  background-color: transparent;
  text-decoration: none;
  color: grey;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: yellow;
}

.centerBrowers{
    margin: auto;
    width: 8.6%;
    padding: 20px;
}

.featureBus{
    height: 200px;
    position: relative;
    border: none;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.drives{
    margin: auto;
    width: 90%;
    padding: 20px;
}

.centerFreqVisitedWebsites{
    margin: auto;
    width: 57.5%;
    padding: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
    background-image: deluxebackground.png;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
